<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
</head>
<body>
    <h1>Ласкаво просимо на головну сторінку!</h1>
    <ul>
        <li><a href="{% url 'patient_list' %}">Список пацієнтів</a></li>
        <li><a href="{% url 'medication_list' %}">Список медикаментів</a></li>
        <li><a href="{% url 'equipment_list' %}">Список обладнання</a></li>
    </ul>
</body>
</html>